/* body {
    background-color: #412567;
    width: 1600px;
    margin: 0 auto;

} */

.bg-light {
    width: 1600px;
    margin: 0 auto;
    background-color: #412567
}


.navbar {
    justify-content: center;
}


.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.banner {
    justify-content: center;
}
   
.navbar, .banner {
    width: 1600px;
    margin: 0 auto;
} 
 

 .brand {
    color: white;
    font-size: 32px;
 }
 
 .text-primary {
    color: #FB09B4;
 }

 .btn {
    margin-left: 150px;
    text-align: left;
 }

 .bg-light, .icon {
    vertical-align: middle;
 }
.icon {
    margin-right: 50%;
}

.brand 
{margin-right: 150px;
}



.text-container {
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    padding: 80px;
}
.text-container h1 {
    font-size: 48px;
    justify-content: center;
}
.text-container p {
    margin: 0 200px;
}

.star-container {
    gap: 80px;
    font-style: bold;
    font-size: 48px;
    color: #00FF88;
}

main{
    width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
}

.text-techwave {
    color: white;
    text-align: center;
    
}


.container>* {
    /* border-radius: 20px; */
    background-color: rgba(53, 17, 101, 0.4);
    color: white;
    /* text-align: center;
    justify-content: center; */
}

main {
    grid-area: main;
}

#text-techwave {
    grid-area: text-techwave;
}

#sidebar {
    grid-area: sidebar;
}

#mobile {
    grid-area: mobile;
}

#global {
    grid-area: global;
}

#exclusive {
    grid-area: exclusive;
}

#rich {
    grid-area: rich;
}
.container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "text-techwave text-techwave text-techwave text-techwave"
    "sidebar mobile mobile mobile"
    "sidebar global global global"
    "exclusive exclusive exclusive rich"
}

#text-techwave {
    font-size: 48px;
    background-color: #230E3D;
    text-align: center;
    margin-top: 120px;
    gap: 40px;
}

#sidebar {
    text-align: center;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px 40px;
    width: 380px;
    height: 480px;
    border-radius: 40px;
}

#mobile {
    text-align: center;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px 40px;
    width: 790px;
    height: 225px;
    border-radius: 40px;
    /* gap: 30px; */
}
#global {
    text-align: center;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px 40px;
    width: 790px;
    height: 225px;
    border-radius: 40px;
    /* gap: 30px; */
}
#exclusive {
    text-align: center;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px 40px;
    width: 790px;
    height: 273px;
    border-radius: 40px;
    /* gap: 30px; */
}
#rich {
    text-align: center;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px 40px;
    width: 380px;
    height: 273px;
    border-radius: 40px;
    /* gap: 30px; */
}


.featured {
    font-size: 48px;
    color: white;
    text-align: center;

}

.future {
    width: 380px;
    height: 440px;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    margin: 12px;
    text-align: center;
    

}

.future h3 {
    font-size: 24px;
    margin: 24px;
    text-align: start;
}

.future p {
    font-size: 16;
    margin: 12px;
    text-align: start;
}

.future iframe {
    width: 380px;
    height: 214px;
    border-radius: 20px;
}
.future img {
    padding-right: 330px;
}

.min {
    color: #00FF88;
}


.meet {
    text-align: center;
    color: wheat;
}